body {
  background-color: #f0f8ff;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.inline-list {
  display: flex;
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.inline-list li {
  margin-right: 20px; /* Space between items */
}

.invitation {
  background-color: #b2f9b4;
  border: 2px solid #69dcff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333333;
}

.date {
  font-weight: bold;
}

.message {
  margin: 20px 0;
}

button {
  background-color: #e0f7fa;

  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffe5b4;
}

.hidden {
  display: none;
}
